myhostname = mail.{{ domain_name }}
myorigin = $mydomain
mydestination = mail.{{ domain_name }}, {{ domain_name }}, localhost, localhost.localdomain
relayhost =
mynetworks = 127.0.0.0/8, 192.168.0.0/24
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases