set from="{{ mail_user.name }}@{{mail_user.domain}}"
set realname="{{ mail_user.name }}"

set smtp_url="smtp://{{ mail_user.name }}@mail.{{mail_user.domain}}:587/"
set smtp_pass="{{ mail_user.password }}"
set imap_user="{{ mail_user.name }}@{{mail_user.domain}}"
set imap_pass="{{ mail_user.password }}"

set folder="imap://mail.{{mail_user.domain}}/"
set spoolfile="imap://mail.{{mail_user.domain}}/INBOX"
set record=""imap://mail.{{mail_user.domain}}/Sent""

set header_cache="~/.mutt/cache/headers"
set message_cachedir="~/.mutt/cache/bodies"
