{% if item.server %}
port {{item.server_port}}
{% else %}
remote {{item.remote_ip}} {{item.server_port}}
{% endif %}
proto udp
dev tun
ifconfig {{item.tun_ip_local}} {{item.tun_ip_remote}}
cipher AES-256-CBC
secret /etc/openvpn/secrets/{{item.name}}-secret.key

{% for item in item.extra_options %}
{{ item }}
{% endfor %}

comp-lzo

keepalive 10 60
ping-timer-rem
persist-tun
persist-key