{% if server %}
port {{server_port}}
{% else %}
remote {{remote_ip}} {{server_port}}
{% endif %}
proto udp
dev tun
ifconfig {{tun_ip_local}} {{tun_ip_remote}}
cipher AES-256-CBC
secret keys/{{name}}.key

{% for item in extra_options %}
{{ item }}
{% endfor %}

comp-lzo

keepalive 10 60
ping-timer-rem
persist-tun
persist-key