//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ domain_name }}" {
    type master;
    file "/etc/bind/zones/forward.{{ domain_name }}";
};

zone "{{ network_ip.split('.') | reverse | join('.') }}.in-addr.arpa" {
    type master;
    file "/etc/bind/zones/reverse.{{ domain_name }}";
};