$TTL 86400
@    IN SOA ns1.{{ domain_name }}. hostmaster.{{ domain_name }}. (
                    2022031601 ; serial
                    28800      ; refresh (8 hours)
                    7200       ; retry (2 hours)
                    604800     ; expire (1 week)
                    86400      ; minimum (1 day)
                    )
@       IN      NS      ns1.{{ domain_name }}.
{{ domain_name }}.       IN      A      {{ domain_ip }}
ns1     IN      A       {{ domain_ip }}
{% set num_octets_to_reverse = 4 - network_ip.split('.')|length %}
{{ domain_ip.split('.')[(-1 * num_octets_to_reverse):] | reverse | join('.') }} IN PTR {{ domain_name }}.

{% if mail_server_ip is defined %}
{{ mail_server_ip.split('.')[(-1 * num_octets_to_reverse):] | reverse | join('.') }}       IN      PTR     mail.{{ domain_name }}.
{% endif %}