$TTL 86400
@       IN      SOA     ns1.{{ domain_name }}. hostmaster.{{ domain_name }}. (
                        2022031601 ; serial
                        28800      ; refresh (8 hours)
                        7200       ; retry (2 hours)
                        604800     ; expire (1 week)
                        86400      ; minimum (1 day)
                        )
@       IN      NS      ns1.{{ domain_name }}.
{{ domain_name }}.       IN      A      {{ domain_ip }}
ns1     IN      A       {{ domain_ip }}

{% if mail_server_ip is defined %}
{{ domain_name }}.  IN      MX      10      mail.{{ domain_name }}.

; Create subdomain mail for the domain
mail    IN      A       {{ mail_server_ip }}
{% endif %}
