port {{item.server_port}}
proto udp
dev tun
ifconfig {{item.tun_ip_server}} {{item.tun_ip_client}}
cipher AES-256-CBC
secret /etc/openvpn/secrets/{{item.name}}-secret.key

{% for item in item.extra_options %}
{{ item }}
{% endfor %}

comp-lzo

keepalive 10 60
ping-timer-rem
persist-tun
persist-key